/* CSS reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 800px;
    height: 400px;
}
.left-panel {
    width: 55%;
    height: 100%;
    background-color: bisque;
}

.header-panel {
    text-align: center;
    width: 100%;
    padding: 10px;
    height: 25%;
}

.content-panel {
    height: 50%;
}

.bottom {
    height: 25%;
}

.right-panel {
    width: 45%;
    height: 100%;
    background-color: beige;
}
